.new-games-item-componente {
    h1 {
        color: white;
    }

    h2 {
        color: grey
    }

    .main-title {
        font-size: 0px;
    }

    .newGamesItem {
        display: flex;
        flex-direction: row;
        gap: 12px;

        li {
            width: 424px;
            display: flex;
            flex-direction: row;
            gap: 6px;
            background-color: #303030;
            padding: 12px;
            border-radius: 12px;

            img {
                width: 40px;
                border-radius: 15px;
            }
        }
    }
}