h1 {
    color: #FFFFFF;
    position: absolute;
    width: 368px;
    height: 48px;
    left: 291px;    
    top: 36px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    align-items: center;

}

.new-games-componente {
    
}